.projects {
    background-color: #DFF2D8;
    margin: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
    color: #222222
}

.projects-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-left: 10vw;
    margin-right: 10vw;
}

.project {
    color: white;
    background-color: #222222;
    border: 2px solid #222222;
    border-radius: 8px;
    margin: 2vw;
    padding: 16px;
    width: 25vw;
    height: 20vh;
    background-repeat: no-repeat;
    background-size: contain;
}

.project-description {
    display: none;
}

.project-label {
    display: flex;
    position: relative;
    align-items: center;
    left: 0;
    right: 80%;
    bottom: 0;
    top: 75%;
}

.project-subtitle {
    display: none;
}