.terminal {
    font-size: 1em;
    text-align:left;
    color: white;
}

.terminal-username {
    background-color: #C6DEA6;
    color: #363946;
}

.terminal-directory {
    background-color: #7EBDC3;
    color: #363946;
}

.terminal-arrow {
    clip-path: polygon(0 0, 0 100%, 100% 50%);
}

.terminal-username-end {
    background-color: #7EBDC3;
}

.terminal-username-end .terminal-arrow {
    background-color: #C6DEA6;
}

.terminal-directory-end .terminal-arrow {
    background-color: #7EBDC3;
}