body {
    overflow-x: hidden;
    width: 100%;
}

.skills {
    background-color: #363946;
    margin: 0;
    padding-bottom: 5vh;
    color: white;
}

.skills-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: stretch;
}

.skills-content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: stretch;
    margin-left: 10vw;
    margin-right: 10vw;
}

.skill-title {
    width: 10vw;
}

.skill-information {
    display: flex;
    padding: 20px;
    background-color: #363946;
}

.skill-information-text {
    padding: 16px;
}

.skill-information button {
    border: 0;
    background-color: #819595;
    color: #363946;
}

.skill {
    background-color: transparent;
    margin: 1vw;
    padding: 1vw;
    border: 2px white dashed;
}

.skill-title h3 {
    margin: 0;
    margin-bottom: 10px;
}

.skill-image img {
    max-width: 100px;
    max-height: 100px;
}

.example-enter {
    transform: translate(100%);
}
  
.example-enter.example-enter-active {
    transform: translate(0%);
    transition: transform 500ms ease-in;
}

.example-leave {
    transform: translate(0%);
}
  
.example-leave.example-leave-active {
    transform: translate(100%);
    transition: transform 500ms ease-out;
}