body {
    overflow-x: hidden;
    width: 100%;
}

.skills {
    background-color: #DFF2D8;
    margin: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
    color: #222222;
}

.skills-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: stretch;
}

.skills-content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: stretch;
    margin-left: 10vw;
    margin-right: 10vw;
}

.skill-title {
    width: 10vw;
}

.skill-information {
    display: flex;
    padding: 20px;
    background-color: white;
    border-radius: 8px 0 0 8px;
}

.skill-information-text {
    padding: 16px;
}

.skill-information button {
    border: 0;
    border-radius: 4px;
    background-color: #C6DEA6;
}

.skill {
    background-color: white;
    margin: 1vw;
    padding: 1vw;
    border-radius: 8px;
}

.skill-image {
    max-width: 100px;
    max-height: 100px;
}

.example-enter {
    transform: translate(100%);
}
  
.example-enter.example-enter-active {
    transform: translate(0%);
    transition: transform 500ms ease-in;
}

.example-leave {
    transform: translate(0%);
}
  
.example-leave.example-leave-active {
    transform: translate(100%);
    transition: transform 500ms ease-out;
}