.experience {
    background-color: #696773;
    color: #B1B6A6;
    padding-bottom: 5vh;
    margin: 0;
}

.experience-content {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-left: 10vw;
    margin-right: 10vw;
}

.job {
    border: 2px solid white;
    background-color: #696773;
    color: white;
    margin: 2vw;
    padding: 16px;
    width: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.job-text {
    text-align: center;
}

.job img {
    padding-right: 8px;
    max-width: 100px;
    max-height: 100px;
}