@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Source+Code+Pro');

.App {
  background-color: #ECF0F1;
  min-height: 100vh;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #222222;
}

h1 {
  font-family: 'Press Start 2P', sans-serif;
}

h2 {
  font-family: 'Press Start 2P', sans-serif;
  color: white;
}

h3 {
  font-family: 'Source Code Pro', sans-serif;
}

h4 {
  font-family: 'Source Code Pro', sans-serif;
}

body {
  font-family: 'Source Code Pro', sans-serif;
}