@import url('https://fonts.googleapis.com/css?family=B612+Mono|Source+Code+Pro');

.App {
  background-color: #ECF0F1;
  min-height: 100vh;
  text-align: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  color: #222222;
}

h1 {
  font-family: 'B612 Mono', monospace;
  font-size: 3em;
  font-weight: 700;
}

h2 {
  font-family: 'B612 Mono', monospace;
  font-size: 2em;
  color: white;
}

h3 {
  font-family: 'Source Code Pro', monospace;
}

h4 {
  font-family: 'Source Code Pro', monospace;
}

body {
  font-family: 'Source Code Pro', monospace;
}